{% extends './base.html' %}

{% block content %}

<div class="mt-5">
    {% if products %}
    <h1>All Products</h1>
    <table class="table mt-5">
        <thead>
            <tr>
                <th scope="col">Sr.no</th>
                <th scope="col">Name</th>
                <th scope="col">SKU</th>
                <th scope="col">Short Description</th>
                <th scope="col">Price</th>
                <th scope="col">Status</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for product in products %}
            <tr>
                <th scope="row">{{loop.index}}</th>
                <td>{{product.name}}</td>
                <td>{{product.sku}}</td>
                <td>{{product.short_description}}</td>
                <td>${{product.price}}</td>
                {% if product.status %}
                <td>Active</td>
                {% else %}
                <td>Inactive</td>
                {% endif %}
                <td>
                    <span>
                        <a href="{{url_for('product', id=product.id)}}" class="btn btn-primary">View</a>
                        <a href="{{url_for('update_product', id=product.id)}}" class="btn btn-success">Edit</a>
                        <a href="{{url_for('delete_product', id=product.id)}}" class="btn btn-danger">Delete</a>
                    </span>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <p class="lead">No Products in the market</p>
    <a href="{{url_for('add_product')}}" class="lead">Add Product</a>
    {% endif %}
</div>

{% endblock content %}